# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
.env/
.env.local/
.venv/

# 编译文件
build/
dist/
*.egg-info/
*.egg

# 编辑器/IDE
.vscode/
.idea/

# 数据文件
*.csv
*.npz
*.pkl

# 日志和临时文件
*.log
*.tmp

# MacOS文件
.DS_STORE

# 结果文件
logs/
results/
SOH/results/
SOH/results analysis/
SOH/results of reviewer/

# 数据文件
SOH/data/
SOH/data analysis/
